{%extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    </div>
    <div class="form-group">
        <label for="Discount">Discount:</label>
        {{ form_widget(form.Discount,{
            'attr':{
                'class':'form-control',
                'placeholder': 'DateOrder'
            }
        }) }}
    </div>

    <input type="submit" name="create_customer" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
