{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="Discount">Discount:</label>
        {{ form_widget(form.Discount,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
    </div>

    <input type="submit" name="edit_car" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}
